# Xcode User Data
*.xcuserstate
*.xcworkspacedata

# Xcode Build
build/
DerivedData/
**/*.xcodeproj/xcuserdata/
**/*.xcworkspace/xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output


# Code Injection
iOSInjectionProject/
